/* style.css */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/*background image */
.hero-section {
  background-image: url("./image/001.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

/* overlay-background image */
.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3rem;
  border-radius: 10px;
}
